.containerLinks{
    display: flex;
    gap: 1rem;
   align-items: center;

}
.active{
    background-color:var(--bgcolor);
    color:var(--textcolor);
    padding:10px;
    border-radius:25px;
    display: flex;
    align-items: center;
}
.mobileButton,
.containerMobile{
   display: none;
}

@media(max-width: 600px){
    .containerMobile{
        position: absolute;
        right: 0;
        top: 80px;
        width: 45%;
        height: calc(100vh- 80px);
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        background-color: var(--textcolor);
        color: var(--bgcolor);
    }
.mobileButton{
    display: block;
   
}
.containerLinks{
    display: none;
}
}